These are the ENVS that you would need to set in your project:
DATABASE_URL=""
NEXTAUTH_URL="https://localhost:3000"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET_IMAGES=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET_CONTENT=""
OPENAI_API_KEY=""
SECRET=""
SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=""
VERCEL_BLOB_STORAGE_URL=""

Use Vercel CLI to pull secrets from Vercel. Replace DATABASE_URL and NEXTAUTH_URL with the ones below for local development.

DATABASE_URL="mysql://root@127.0.0.1:3306/core" - Remember that "core" is the name of the database set. If you have named it differently, you should update accordingly.
NEXTAUTH_URL="https://localhost:3000" - it is using "--experimental-https" to enable HTTPS locally, so you don't have to use a tool likle NGROK for certain auth providers

